<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Cache-Control" content="max-age=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>活动详情</title>

    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/page.css">
</head>

<body>

<article class="AcInfo">
    <img src="images/1.jpg">

    <h1> 活动主题，小编根据市场需要拟定</h1>
    <img src="images/1.jpg">
	<dl>
		<dt>学习时间可以自由预约，随报随学,</dt>
		<dd>
			<p>A. 每期10次课，每次2小时。</p>
			<p>B. 学费1200，上课期间免费提供笔，纸，墨。</p>
			<p>C. 学习汉古隶，曹全碑，送字贴一本。</p>
			<p>D. 教课人：展旭[学书法近二十年，擅长隶书，行书]。</p>
			<p>E. 也可以报单次课，每次150.</p>
		</dd>
	</dl>
    <img src="images/1.jpg">
	<dl>
		<dt> 学习时间可以自由预约，随报随学,</dt>
		<dd>
			<p>A. 每期10次课，每次2小时。</p>
			<p>B. 学费1200，上课期间免费提供笔，纸，墨。</p>
			<p>C. 学习汉古隶，曹全碑，送字贴一本。</p>
			<p>D. 教课人：展旭[学书法近二十年，擅长隶书，行书]。</p>
			<p>E. 也可以报单次课，每次150.</p>
		</dd>
	</dl>
    <img src="images/1.jpg">
</article>
<article class="AcInfoB1">
    <h2>▏活动信息</h2>
    <dl>
        <dt><em>时间：</em><i>2015.7.25 至 2015.7.26 /10:00 至 17:00</i></dt>
        <dd><em>地点：</em><i>北京市-后海南官房胡同二号【ROCKLAND.摇篮】唱片咖啡馆</i></dd>
        <dd><em>主办：</em><i>办公室秘密官方</i></dd>
        <dd><em>票价：</em><i>女士免费，男士￥55.0/位</i>
        </dd>
    </dl>
</article>
<article class="AcInfoB2">
    <h2>▏活动介绍</h2>
    <dl>
    	<dt>学习时间可以自由预约，随报随学，</dt>
    	<dd>
    		<p>A. 每期10次课，每次2小时。</p>
    		<p>B. 学费1200，上课期间免费提供笔，纸，墨。</p>
    		<p>C. 学习汉古隶，曹全碑，送字贴一本。</p>
    		<p>D. 教课人：展旭[学书法近二十年，擅长隶书，行书]。</p>
    		<p>E. 也可以报单次课，每次150.</p>
    	</dd>
    </dl>
    <dl>
    	<dt>联系：</dt>
    	<dd>
    		<p>ROCKLAND.摇篮</p>
    		<p>http://site.douban.com/ROCKLAND/</p>
    		<p>微信公众号：rockland2003</p>
    	</dd>
    	<dd>
    		<p>摇篮唱片 后海南官房胡同二号</p>
    		<p>ROCKLAND RECORDS</p>
    		<p>微博：http://weibo.com/rockland</p>
    		<p>微信：264962628</p>
    		<p> 邮件： rokland11@vip.sina.com</p>
    	</dd>
    	<dd>
    		<p>北京独立音乐现场发生小站：</p>
    		<p>http://site.douban.com/152181/</p>
    		<p>微信公众号：69cafe</p>
    		<p>陆玖咖啡 南锣鼓巷一零九号院</p>
    		<p>SIXTYNINE MUSIC—CAFE</p>
    		<p>http://weibo.com/sixtyninemusiccafe</p>
    	</dd>
    </dl>
</article>
<div class="registration">
    <a href="#">我要报名</a>

</div>
</body>
</html>
