<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<meta http-equiv="Cache-Control" content="max-age=0">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>零食详情</title>
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/page.css">
	</head>

	<body>
		<section class="bottomBuy">
			<div class="cr topBuyrw"><a href="shoppingCart.html"> 查看</a></div>
			<div class="cl topBuyLw"><img src="images/bug1.png"> 已有12件零食</div>
		</section>
		<section class="BuyInfo">
			<img src="images/1.jpg">
			<div class="BuyInfo2">
				<h2>lavazza拉瓦萨咖啡豆 意式香浓CREMA EAROMA 1KG</h2>
				<div class="bt3">
					<em class="em1">瓦萨咖</em>
					<em class="em2">￥322</em>
					<em class="em3"><a href=""> 购买</a></em>
				</div>
			</div>
			<div class="BuyInfo3">
				<dl>
					<dd class="line">配料表：100%咖啡豆 Lavazza</dd>
					<dd>
						保质期：730天
					</dd>
					<dd>
						食品添加剂：无
					</dd>
					<dd class="line">净含量：1000g</dd>
					<dd class="line">品牌：LAVAZZA/拉瓦萨</dd>
					<dd>是否含糖：无糖</dd>
					<dd class="line">烘培程度：中度烘焙</dd>
					<dd>储藏方法：保持干燥、通风良好</dd>
				</dl>

			</div>
			<img src="images/1.jpg">
		</section>
	</body>

</html>