<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Cache-Control" content="max-age=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>零食</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/page.css">
</head>

<body>
<section class="topBuy">
    <div class="cr topBuyrw"><a href=""> 查看</a></div>
    <div class="cl topBuyLw"><img src="images/bug1.png"> 已有12件零食</div>

</section>
<article class="snacksList">
    <dl>
        <dd>
            <div class="Divimg"><img src="images/3.jpg"></div>
            <h2>
                lavazza拉瓦萨咖啡豆 意式香浓CREMA EAROMA 1KG
            </h2>
            <div class="bt3">
                <em class="em1">瓦萨咖</em>
                <em class="em2">$322</em>
                <em class="em3"><a href="goBuy.html"> 购买</a></em>
            </div>
        </dd>
        <dd>
            <div class="Divimg"><img src="images/3.jpg"></div>
            <h2>
                lavazza拉瓦萨咖啡豆 意式香浓CREMA EAROMA 1KG
            </h2>

            <div class="bt3">
                <em class="em1">瓦萨咖</em>
                <em class="em2">$322</em>
                <em class="em3"><a href="goBuy.html"> 购买</a></em>
            </div>
        </dd>
        <dd>
            <div class="Divimg"><img src="images/3.jpg"></div>
            <h2>
                lavazza拉瓦萨咖啡豆 意式香浓CREMA EAROMA 1KG
            </h2>
            <div class="bt3">
                <em class="em1">瓦萨咖</em>
                <em class="em2">$322</em>
                <em class="em3"><a href="goBuy.html"> 购买</a></em>
            </div>
        </dd>
    </dl>
</article>
<footer class="wxBottom">
    <section class="wrap">
        <a href="Activity.html">活动</a>
        <a href="snacks.html" class="hover">零食</a>
        <a>服务</a>
    </section>
</footer>
</body>
</html>
