<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Cache-Control" content="max-age=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>库存详情</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/page.css">
</head>
	<body>
		<dl class="stock-detail-head">
			<dt><img src="images/2.jpg" alt="" /></dt>
			<dd>
				<p class="name">lavazza拉瓦萨咖啡豆 意式香浓CREMA EAROMA 1KG</p>
				<p class="rate-box clearfix"><span class="city cl">意大利-都灵</span><span class="rate cr">￥<em>138.0</em></span></p>
			</dd>
		</dl>
		<ul class="wares-list">
			<li><span>配料表：</span>100%咖啡豆 Lavazza</li>
			<li><span>保质期：</span>730天</li>
			<li style="border-top: 1px solid #8c8c8c;border-bottom: 1px solid #8c8c8c;"><span>食品添加剂：</span>730天</li>
			<li><span>净含量：</span>1000g</li>
			<li><span>品牌：</span>LAVAZZA/拉瓦萨</li>
			<li style="border-top: 1px solid #8c8c8c;border-bottom: 1px solid #8c8c8c;"><span>是否含糖：</span>无糖</li>
			<li><span>烘培程度：</span>中度烘焙</li>
			<li><span>储藏方法：</span>保持干燥、通风良好</li>
		</ul>
		<div class="wares-img-box">
			<p><img src="images/1.jpg" alt="" /></p>
			<p><img src="images/2.jpg" alt="" /></p>
			<p><img src="images/3.jpg" alt="" /></p>
		</div>
		<div class="stock-num"><p>剩余：<span>123</span>件</p></div>
	</body>
</html>
