<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait">
    <meta http-equiv="Cache-Control" content="max-age=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>飞报App-北京飞报云创科技有限公司</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="navbar-con container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="" href="/"><img class="log-img" src="image/log.png" alt=""><img class="log-mobile" src="image/log.png" alt=""></a><!--<span  class="log-mobile" ><img src="image/log-mobile.png" alt="">飞报 每天都只为您的收入着想</span>--></div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">主页</a></li>
                    <li><a href="summary.html">关于我们</a></li>
                    <li  class="select"><a href="app.html">飞报App</a></li>
                    <li><a class="cur" href="http://mp.feibaokeji.com" target="_blank">发布广告</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="app-box">
        <div class="app-box-back">
            <div class="app-con container">
                <div class="app-con-top clearfix row">
                    <div class="img-box col-xs-6"><img src="image/phone.png" alt=""></div>
                    <div class="app-con-text col-xs-6">
                        <h3>飞报App</h3>
                        <p><em></em>精选主题，精心挑选最适合您的活动广告</p>
                        <p><em></em>直接提现，看广告让您的财富直接变现</p>
                        <p><em></em>留言互动，和商家零距离交流</p>
                        <dl class="clearfix">
                            <dt><img src="image/code-app.png" alt=""></dt>
                            <dd>
                                <span class="text">扫描二维码下载飞报APP</span><span><a class="btn btnIOS" href="https://itunes.apple.com/cn/app/fei-bao/id737395949?mt=8">iOS下载</a></span><span><a class="btn btnAnzhuo" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.feibaokeji.feibao">Android下载</a></span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-box-center container">
           <div class="row">
               <div class="app-box-text col-xs-6">
                   <h3 class="tit"><span>飞报App</span>全新改版</h3>
                   <p><em></em>秒查身边的活动信息</p>
                   <p><em></em>最新的广告社交媒体</p>
                   <p><em></em>个性化的精品活动</p>
               </div>
               <div class="app-box-img col-xs-6"><img src="image/phone1.png" alt=""></div>
           </div>
        </div>
    </div>
<div class="home-footer">
    <p class="footer-nav"><a href="/">主页</a><a class="center" href="summary.html">关于我们</a><a href="app.html">飞报App</a></p>
    <p>北京市朝阳区东四环中路41号嘉泰国际大厦B座1410    2013-2015 京ICP备14000130号-1</p>
</div>
</body>
</html>