<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait">
    <meta http-equiv="Cache-Control" content="max-age=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>北京飞报云创科技有限公司</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="navbar-con container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="" href="/"><img class="log-img" src="image/log.png" alt=""><img class="log-mobile" src="image/log.png" alt=""></a><!--<span  class="log-mobile" ><img src="image/log-mobile.png" alt="">飞报 每天都只为您的收入着想</span>--></div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="select"><a href="/">主页</a></li>
                    <li><a href="summary.html">关于我们</a></li>
                    <li><a href="app.html">飞报App</a></li>
                    <li><a class="cur" href="http://mp.feibaokeji.com" target="_blank">发布广告</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="home-head">
        <div class="home-text container">
            <h1>飞报 中国营销界的Uber</h1>
            <p class="text1">做中国最大的垂直互动分享社交平台</p>
            <p class="text2">我们没有一家企业，但却拥有千万家生产车间，店铺</p>
        </div>
    </div>
    <div class="home-con clearfix container">
        <div class="row">
            <div class="code-text code-text-mobile col-lg-7 col-sm-7">
                <h3><span>飞报</span>因您而出色</h3>
                <p class="text1">企业没预算，就拿来跟用户分享</p>
                <p class="text1">企业有预算，用您的故事来推广</p>
            </div>
            <p class="col-lg-5 col-sm-5"> <img class="code" src="image/code.png" alt=""></p>
            <div class="code-text code-text-pc col-lg-7 col-sm-7">
                <p class="text1">企业没预算，用您的故事来推广</p>
                <h3><span>飞报</span>因您而出色</h3>
                <p class="text2">企业有预算，就拿来跟用户分享</p>
            </div>
        </div>
    </div>
    <div class="home-footer">
        <p class="footer-nav"><a href="/">主页</a><a class="center" href="summary.html">关于我们</a><a href="app.html">飞报App</a></p>
        <p>北京市朝阳区东四环中路41号嘉泰国际大厦B座1410    2013-2015 京ICP备14000130号-1</p>
    </div>
   </body>
<script src="js/home.js"></script>
</html>