<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait">
    <meta http-equiv="Cache-Control" content="max-age=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>公司简介-北京飞报云创科技有限公司</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="navbar-con container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="" href="/"><img class="log-img" src="image/log.png" alt=""><img class="log-mobile" src="image/log.png" alt=""></a><!--<span  class="log-mobile" ><img src="image/log-mobile.png" alt="">飞报 每天都只为您的收入着想</span>--></div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">主页</a></li>
                    <li class="select"><a href="summary.html">关于我们</a></li>
                    <li><a href="app.html">飞报App</a></li>
                    <li><a class="cur" href="http://mp.feibaokeji.com" target="_blank">发布广告</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="sum-home-head">
        <div class="team-text container">
            <h3>公司简介</h3>
            <p>北京飞报云创科技有限公司成立于2013年10月31日，目前公司员工50多人。飞报App产品2015年2月公测，4月底正式上线，注册用户已超100万人，月活30万人，次日留存率30%。目前公司有技术开发人员17人，能根据市场反馈需要最快实现15个工作日迭代更新。公司于2015年6月完成A轮融资。公司开发的手机飞报App应用致力于让用户参与企业产品（服务）营销，进而参与企业产品（服务）研发，最终分享商业利润暨“让用户看广告赚钱”的广告社交媒体。被世界颠覆创新教父凯文·凯利称为颠覆未来广告的中国广告界的Uber。公司创始人黄华先生具有16年媒体记者、广告营销从业经验，历任广播电视台台长，新媒体公司总裁，曾服务于新浪、土豆、光线传媒、新华网，温州大地地产等企业项目策划。</p>
        </div>
    </div>
    <div class="team-box container">
        <h3>团队介绍</h3>
        <div class="">
            <div class="row row1">
                <div class="col-lg-4 col-sm-4"><img src="http://www.feibaokeji.com/upload/images/20150825_104806.jpg" alt=""><h3>严俊波－董事长</h3><p>北京飞报云创科技有限公司董事长；四川省工商联副主席、全国人大代表四川濠吉食品（集团）有限责任公司
                    董事长、总裁；四川川投集团总裁；四川商会总会副会长。中国光促会理事、省光促会副会长</p>
                </div>
                <div class="col-lg-4 col-sm-4"><img src="http://www.feibaokeji.com/upload/images/20150825_104852.jpg" alt=""><h3>王政平-副董事长</h3><p>大连顺为集团董事长、香港政懿控股有限公司总裁 </p>
                </div>
                <div class="col-lg-4 col-sm-4"><img src="http://www.feibaokeji.com/upload/images/20150825_104843.jpg" alt=""><h3>韩吉光－董事</h3><p>大连酒仙楼有限公司总裁</p>
                </div>
            </div>
            <div class="row row2">
                <div class="col-lg-3 col-sm-3"><img src="http://www.feibaokeji.com/upload/images/20150825_104750.jpg" alt=""><h3>李新光－董事</h3><p>广州诚光企业管理有限公司、广东一条龙投资公司总裁</p>
                </div>
                <div class="col-lg-3 col-sm-3"><img src="http://www.feibaokeji.com/upload/images/20150825_104904.jpg" alt=""><h3>谢永红－董事</h3><p>义乌购物网总裁，北清投资咨询管理有限公司股东</p>
                </div>
                <div class="col-lg-3 col-sm-3"><img src="http://www.feibaokeji.com/upload/images/20150825_104817.jpg" alt=""><h3>黄华－董事</h3><p>飞报云创科技有限公司创始人，飞报云创科技有限公司CEO</p>
                </div>
                <div class="col-lg-3 col-sm-3"><img src="http://www.feibaokeji.com/upload/images/20150825_104915.jpg" alt=""><h3>曹洪猛－副经理</h3><p>飞报云创科技有限公司CTO</p>
                </div>
            </div>
        </div>
    </div>
    <div class="recruit-box">
        <div class="recruit-con container">
            <h3>招贤纳士</h3>
            <table>
                <thead>
                <tr>
                    <th>职位</th>
                    <th>职位月薪</th>
                    <th>工作地点</th>
                    <th>发布时间</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>广告策划</td>
                    <td>面议</td>
                    <td>北京</td>
                    <td> 06-01</td>
                </tr>
                <tr>
                    <td>公关招商</td>
                    <td>面议</td>
                    <td>北京</td>
                    <td> 06-01</td>
                </tr>
                <tr>
                    <td>市场营销</td>
                    <td>面议</td>
                    <td>北京</td>
                    <td> 06-01</td>
                </tr>
                <tr>
                    <td>新闻编辑</td>
                    <td>面议</td>
                    <td>北京</td>
                    <td> 06-01</td>
                </tr>
                <tr>
                    <td>前台专员</td>
                    <td>面议</td>
                    <td>北京</td>
                    <td> 06-01</td>
                </tr>
                <tr>
                    <td>PHP研发工程师</td>
                    <td>面议</td>
                    <td>北京</td>
                    <td> 06-01</td>
                </tr>
                <tr>
                    <td>安卓研发工程师</td>
                    <td>面议</td>
                    <td>北京</td>
                    <td> 06-01</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="new-box container">
        <div class="row news">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox"><div class="item active">
                    <a href="news/text.html"><img src="image/03.jpg" style="cursor:pointer"></a>
                </div>
                <div class="item">
                    <a href="news/text1.html"> <img src="image/02.jpg" style="cursor:pointer"></a>
                </div>
                <div class="item">
                    <a href="news/text2.html"> <img src="image/01.jpg" style="cursor:pointer"></a>
                </div>
            </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <ul>
                <li><a href="news/text3.html" title="超万商家热捧“飞报”  分享广告被看好">超万商家热捧“飞报”  分享广告被看好</a><span>2015-06-12</span></li>
                 <li><a href="news/text4.html" title="飞报新产品培训学习会议谢幕 精彩未来永不落幕">飞报新产品培训学习会议谢幕 精彩未来永不落幕</a><span>2015-05-21</span></li>
                <li><a href="news/text5.html" title="“飞报”钱景看好  发布会受热捧">“飞报”钱景看好  发布会受热捧</a><span>2015-02-11</span></li>
                <li><a href="news/text6.html" title="“看广告赚钱”引众多媒体关注  飞报总裁接受新华社专访">“看广告赚钱”引众多媒体关注  飞报总裁接受新华社专访</a><span>2014-10-27</span></li>
                <li><a href="news/text2.html" title="公司CEO黄华先生与全国人大代表、全国政协委员在北京市东城区培智中心学校探望智残儿童">公司CEO黄华先生与全国人大代表、全国政协委员在北京市东城区培智中心学校探望智残儿童</a><span>2014-10-27</span></li>
                <li><a href="news/text7.html" title="公司CEO黄华先生针对“飞报”项目的落地到安徽进行市场考察">公司CEO黄华先生针对“飞报”项目的落地到安徽进行市场考察</a><span>2014-10-27</span></li>
                <li><a href="news/text.html" title="中国首款地理定向精准投放广告的手机APP“飞报”今天下午在北京上线">中国首款地理定向精准投放广告的手机App“飞报”今天下午在北京上线</a><span>2014-10-27</span></li>
                <li><a href="news/text8.html" title="飞报携手联想    共创宏伟嘉业">飞报携手联想 共创宏伟嘉业</a><span>2014-10-08</span></li>
                <li><a href="news/text9.html" title="飞报更是一种态度">飞报更是一种态度</a><span>2014-10-08</span></li>
                <li><a href="news/text10.html" title="黄华先生带领市场部与公关部成员共同抵达陕西西安进行调研">黄华先生带领市场部与公关部成员共同抵达陕西西安进行调研</a><span>2014-09-25</span></li>
                <li style="border: none;"><a href="news/text1.html" title="公司CEO黄华先生在中央电视台新闻中心调研学习">公司CEO黄华先生在中央电视台新闻中心调研学习</a><span>2014-01-17</span></li>
            </ul>
            <div class="pagelist text-center">
                <ul id="demo2" class="pagination"><li class="first disabled" jp-role="first" jp-data="1"><a href="javascript:void(0);">首页</a></li><li class="prev disabled" jp-role="prev" jp-data="0"><a href="javascript:void(0);"><i class="arrow arrow2"></i>上一页</a></li><li class="page active" jp-role="page" jp-data="1"><a href="javascript:void(0);">1</a></li><li class="next disabled" jp-role="next " jp-data="2"><a href="javascript:void(0);">下一页<i class="arrow arrow3"></i></a></li><li class="last disabled" jp-role="last" jp-data="100"><a href="javascript:void(0);">末页</a></li></ul>
            </div>
        </div>
    </div>
    <div class="contact-me container">
        <h3>联系我们</h3>
        <div class="row">
            <p class="col-lg-6 col-sm-6">
                地址：北京市朝阳区东四环中路41号嘉泰国际中心B座14层<br>
                电话：400-652-0458<br>
                网址：www.feibaokeji.com<br>
                官方公众号：飞报<br>
                百度贴吧：飞报吧<br>
                技术支持：2260243064<br>
                商务合作：369986663<br>
                官方客服：2590369801    1523405080<br>
                官方客服：service@feibaokeji.com<br>
                技术支持：support@feibaokeji.com<br>
                商务联系：corp@feibaokeji.com<br>
            </p>
            <img class="col-lg-6 col-sm-6"  src="image/map.jpg" alt="">
        </div>
    </div>
<div class="home-footer">
    <p class="footer-nav"><a href="/">主页</a><a class="center" href="summary.html">关于我们</a><a href="app.html">飞报App</a></p>
    <p>北京市朝阳区东四环中路41号嘉泰国际大厦B座1410    2013-2015 京ICP备14000130号-1</p>
</div>
</body>
</html>