<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>微信</title>
    <link type="text/css" rel="stylesheet" href="/css/common.css"/>
    <link type="text/css" rel="stylesheet" href="/css/page.css"/>
    <script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>

</head>
<body>



<style type="text/css">
    .d{
        background-size: auto 100%;
    }
    </style>
