<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>aaaaaaaaaaaaaa</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="css/global.css?timeStamp=1" rel="stylesheet" />
    <desc>ccccccccccccccccc</desc>   
</head>
<body>
    <div>
        分享测试
    </div>
    <script type="text/javascript">
        document.querySelectorAll("title")[0].innerHTML = "bbbbbbbbbbbbbbbbbbbb";
    </script>
</body>
</html>
