<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="css/global.css?timeStamp=2" rel="stylesheet" />
    <style type="text/css">
        .l2{
            padding-left: .42rem;
        }
        .b2{
            padding-bottom: .2rem;
        }
    </style>
</head>
<body class="adDetails">
    <div class="list">
        <div class="content" style="padding-top: .15rem;">
            <div class="body">
                <p>1、飞币可以进行话费兑换，兑换面值分别为1元、2元、5元、10元。</p>
                <p>2、兑换相应面值的话费所需飞币比例如下：</p>
                <p class="l2">1元面值花费需要2000飞币</p>
                <p class="l2">2元面值花费需要4000飞币</p>
                <p class="l2">5元面值花费需要10000飞币</p>
                <p class="l2">10元面值花费需要20000飞币</p>
                <p>3、每日10:00，13:00，16:00更新开兑，请合理安排兑换时间。</p>
                <p>4、每位用户每日最多可成功兑得1次，如果未能兑换成功，请把握下次兑换机会。</p>
                <p>注：每位用户只能给绑定手机号充值</p>
                <p>话费兑换常见问题解答</p>
                <p>1、安卓手机兑换成功提示排队，兑换记录没有订单，也查不到是否还在充值中或者充值成功与否?</p>
                <p>答：因为现在是系统自动充值，需按时间顺序来依次进行，人数过多的情况下，系统反应较慢，请耐心等待！如果长期显示排队中，也不需要担心，对您这天提交订单也不会有任何影响的。</p>
                <p>2、更新后兑换面额没有显示份数，为什么每天最多一次？</p>
                <p>答：当前版本暂无分数显示。我们希望覆盖到更多的用户群体，让每个用户都可以兑换到话费，且一个时间点只有第一次提交的订单是有效的，使用机器刷或手工多次提交均没有意义！一次的失败会提高下次成功的概率。</p>
                <p>3、现在充值时间分为三个时间点，如果第一个时间点充值失败的会在下个时间点来添加上吗？</p>
                <p>答：不会的，每个时间点重新匹配额度的。</p>
                <p>4、现在是系统审核，一直提示排队中，多久可以到账？</p>
                <p>答：我们现在是程序自动处理，一旦审核通过，几乎秒到哦。</p>
                <p>5、时间段兑换时长是多久，每个时间段投放的话费份数是多少？</p>
                <p>答：时间点兑换的时长不确定，话费总额兑换完了按钮就会显示为灰色。话费份数暂时不显示，并且后期每天投放额度会逐步放大！</p>
                <p>6、兑换多次充值失败，原因是什么？</p>
                <p>答：兑换失败有两种可能：</p>
                <p>① 审核的时候根据用户的概率进行运算，会随机成功或者失败的</p>
                <p>② 现在充值需在系统来操作，人工不会干预，如果您的账号存在刷分可能，是不会充值成功的。</p>
                <p>7、更新后，兑换时输入错误的操作码也可提交，提交后提示排队，无任何显示。</p>
                <p>答：当前版本兑换密码在提交兑换后比对，比对成功方能进行充值。</p>
                <p>8、新版本在哪里可以下载，官网下载提示下载失败。</p>
                <p>答：官网可直接下载最新版本，App Store、Andriod应用市场等一些渠道也可下载安装。</p>
                <p>9、可以保证每个用户每天都可以兑换成功一次吗？</p>
                <p>答：我们不会保证您一定可以兑换到，但是这一次没有兑换成功，下次兑换的机率会大大增加，一定是可以兑换到话费的！谢谢您的支持与理解，给您带来不便敬请谅解！</p>
                <p>10、显示排队成功，也没有任何提示，飞币会扣除吗？</p>
                <p>答：不会扣除飞币，只要在您充值成功且收到充值成功的信息后才会扣除您的飞币！</p>
                <p>11、广告中没有代金券，什么时候会有？</p>
                <p>答：代金券广告功能刚上线，部分城市可能尚未有商家发布代金券广告，请耐心等待！</p>
                <p>12、兑换面额为什么从原来的15000兑换10元变成了20000兑换10元。</p>
                <p>答：1元话费兑换=2000积分，一直都是如此，之前大面额有优惠，现在取消优惠了。另外，充值面额进行了调整，并且公司投入资金加大，是为了覆盖更多的用户群体！</p>
                <p>13、为什么要调整兑换面额？</p>
                <p>                    
                    答：我们通过数据分析发现，很多用户未兑换成功过，为了让他们也有机会，我们适当调低了兑换金额，具体的兑换金额会根据公司规划再次调整！
                </p>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        window.onresize = function () {
            document.querySelector("html").setAttribute("style", "font-size:" + document.body.clientWidth / 6.4 + "px");
        };
        document.querySelector("html").setAttribute("style", "font-size:" + document.body.clientWidth / 6.4 + "px");
    </script>
</body>
</html>
