<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait">
    <meta http-equiv="Cache-Control" content="max-age=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>北京飞报云创科技有限公司</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="navbar-con container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="" href="/"><img class="log-img" src="image/log.png" alt=""><img class="log-mobile" src="image/log.png" alt=""></a><!--<span  class="log-mobile" ><img src="image/log-mobile.png" alt="">飞报 每天都只为您的收入着想</span>--></div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">主页</a></li>
                <li class="select"><a href="summary.html">关于我们</a></li>
                <li><a href="app.html">飞报App</a></li>
                <li><a class="cur" href="http://mp.feibaokeji.com" target="_blank">发布广告</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="feibao-text container">
    <p class="tit"><a href="/">首页</a>>><a href="../summary.html">关于我们</a>>><span>飞报新产品培训学习...</span></p>
    <div class="text-content">
        <h2>飞报新产品培训学习会议谢幕 精彩未来永不落幕</h2>
        <p>飞报讯：我司于5月11日在京启动了为期6天的新产品培训学习会议，于5月16日圆满落幕。这次新产品培训学习会议针对市场部全国分公司的员工，也是本年度召开的第一次市场部全体分公司大会。  </p>
        <img src="http://www.feibaokeji.com/upload/images/20150521_091932.jpg" alt="">
        <p>第一天，CEO黄华先生就公司整体的战略发展规划以及自我营销手段展开了一系列生动形象的讲解，探讨出了一条从最笨的方法开始，逐渐走上人生巅峰的道路。</p>
        <img src="http://www.feibaokeji.com/upload/images/20150521_092427.jpg" alt="">
        <p>他跟员工们分享了自己真实的人生经历，与洗衣房相伴的大学时光，凌晨四五点的街道早餐，十几年如一日做的保洁大堂，他是履历艰辛，过程奇葩，变卖房车的创业者，他也是最年轻的电视台台长。全体参会员工听得如痴如醉，一双双坚定的眼神分明写着你如阳光普照大地，我如蝼蚁死不足惜，全体举起双手释放心中的猛虎，高声呼喊着”坚持到底决不放弃”。 </p>
        <img src="http://www.feibaokeji.com/upload/images/20150521_092551.jpg" alt="">
        <p>符合人性规律的、普适性的领导力是决定公司可持续健康经营的关键。CEO黄华先生在第二天的会议上开展了飞报新领导力的培训，亲自考核各分公司预备干部和分公司总经理, 加强对新领导力的指导。</p>
        <img src="http://www.feibaokeji.com/upload/images/20150521_092813.jpg" alt="">
        <p>全国各分公司经理纷纷上台分享在飞报的成长点滴以及关于工作关于未来那些脚踏实地的实干和无限美好的畅想。歌声撩人的哈尔滨分公司吴兴宇先是高歌一曲再带来一场接地气的演说，面如哆啦A梦但心境敞亮的杭州分公司印日富在逗比与正经中自由切换。</p>
        <img src="http://www.feibaokeji.com/upload/images/20150521_092902.jpg" alt="">
        <p>第三天的培训学习会议上，公司产品部同事对即将上线的飞报3.2完整版本展开了培训，对新产品进行了全面介绍以及各功能演示介绍。（PS：产品部同事的颜值很高啊）</p>
        <img src="http://www.feibaokeji.com/upload/images/20150521_092938.jpg" alt="">
        <p>欢乐的时光总是迅速地从身边溜走，第四天的培训学习会议在公司老巢进行，网络运营负责人王总针对3.2产品的线上推广方案运作进行了详细分析，并培训了广告内容管理系统的实操使用。下午的实操考核氛围是紧张中透着更多的紧张，仿佛回到了学生时代等着老师发试卷的学生，挥汗如雨地坐在电脑前作答。</p>
        <img src="http://www.feibaokeji.com/upload/images/20150521_093243.jpg" alt="">
        <p>在第五天的培训学习会议中，参会全员对线下推广方案进行了讨论，市场部总监齐总对线下推广中的常见问题一一做出了详细解答。我们不仅有思奇出新的点子王韦俊，也有摸着大肚子教授搬模样的杜海，还有表面风轻云淡内心天人交战的徐少鹏，在头脑风暴中迸发出各类思想，未来，不会分享的经济就是反人类。</p>
        <img src="http://www.feibaokeji.com/upload/images/20150521_093438.jpg" alt="">
        <p>第五天的培训学习结束前，CEO黄华先生亲自签字送书活动将气氛推向了高潮，员工们纷纷合影留恋，他还一边调侃着说不定以后这本带有签名的书分分钟价值上千万，或者上个厕所也是不愁没纸的。</p>
        <img src="http://www.feibaokeji.com/upload/images/20150521_093516.png" alt="">
        <p>一个重视员工培养的企业是一个优秀的企业，一个鼓励员工学习的老板是一个伟大的老板。遇到CEO黄华先生，飞报的每个员工都是幸运的。</p>
        <img src="http://www.feibaokeji.com/upload/images/20150521_093543.jpg" alt="">
        <p>周六全体学员一起参观国家博物馆，手里啃着老冰棒，在欢声笑语中拍照留恋重走复兴之路。</p>
        <img src="http://www.feibaokeji.com/upload/images/20150521_094853.jpg" alt="">
        <p>这次培训学习不仅让飞报员工更加团结一致，同时提高了工作技能，也对公司的未来发展有了更加清楚的认识。飞报的未来一定会来的，飞报梦一定会实现的。</p>
        <p></p>
    </div>
</div>
</body>
</html>