<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait">
    <meta http-equiv="Cache-Control" content="max-age=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>北京飞报云创科技有限公司</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="navbar-con container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="" href="/"><img class="log-img" src="../image/log.png" alt=""><img class="log-mobile" src="../image/log.png" alt=""></a><!--<span  class="log-mobile" ><img src="image/log-mobile.png" alt="">飞报 每天都只为您的收入着想</span>--></div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">主页</a></li>
                <li class="select"><a href="summary.html">关于我们</a></li>
                <li><a href="app.html">飞报App</a></li>
                <li><a class="cur" href="http://mp.feibaokeji.com" target="_blank">发布广告</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="feibao-text container">
    <p class="tit"><a href="/">首页</a>>><a href="../summary.html">关于我们</a>>><span>公司CEO黄华先生...</span></p>
    <div class="text-content">
        <h2>公司CEO黄华先生针对“飞报”项目的落地到安徽进行市场考察</h2>
        <img src="http://feibaokeji.com/upload/images/20140117_162355.jpg" alt="">
        <img src="http://feibaokeji.com/upload/images/20140117_162420.jpg" alt="">
        <img src="http://feibaokeji.com/upload/images/20140116_194006.jpg" alt="">
        <p>2013年3月18日，公司CEO黄华先生针对“飞报”项目的落地到安徽进行市场考察，受当地党委政府的热情接待，并对此项目做了市场评估，对飞报项目有着很高的评价。</p>
    </div>
</div>
</body>
</html>