<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait">
    <meta http-equiv="Cache-Control" content="max-age=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>北京飞报云创科技有限公司</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="navbar-con container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="" href="/"><img class="log-img" src="../image/log.png" alt=""><img class="log-mobile" src="../image/log.png" alt=""></a><!--<span  class="log-mobile" ><img src="image/log-mobile.png" alt="">飞报 每天都只为您的收入着想</span>--></div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">主页</a></li>
                <li class="select"><a href="summary.html">关于我们</a></li>
                <li><a href="app.html">飞报App</a></li>
                <li><a class="cur" href="http://mp.feibaokeji.com" target="_blank">发布广告</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="feibao-text container">
    <p class="tit"><a href="/">首页</a>>><a href="../summary.html">关于我们</a>>><span>飞报更是一种态度</span></p>
    <div class="text-content">
        <h2>飞报更是一种态度</h2>
        <p>北京飞报云创科技有限公司于2014年8月17日结束了为期2天的户外团队拓展活动。由北京飞报总公司联合北京分公司、广西分公司、重庆分公司全员参与。</p>
        <p><strong>风雨欲来，你们准备好了么？</strong></p>
        <p>为了加强所有新老员工的团队意识和团队协作能力，特聘请西典军校的教官为全公司整体成员进行了为期两天的户外培训。通过做 游戏的方式教会每个人做任何事之前要先学会思考问题，而不是盲目的机械化的去完成目标。中国有句古话，磨刀不误砍柴工寓意就是先武装好自己再去有效完成自 己的目标。</p>
        <p><strong>成功的关键依靠我们每一个人坚持不懈的努力</strong></p>
        <img src="http://www.feibaokeji.com/newsImg/5.jpg" alt="">
        <p>自然界中有一种昆虫很喜欢吃三叶草(也叫鸡公叶)，这种昆虫在吃食物的时候都是成群结队的，第一个趴在第二个的身上，第二 个趴在第三个的身上，由一只昆虫带队去寻找食物，这些昆虫连接起来就像一节一节的火车车箱。管理学家做了一个实验，把这些像火车车箱一样的昆虫连在一起， 组成一个圆圈，然后在圆圈中放了它们喜欢吃的三叶草。结果它们爬得精疲力竭也吃不到这些草。这个例子说明在团队中失去目标后，团队成员就不知道上何处去， 最后的结果可能是饿死，这个团队存在的价值可能就要打折扣。团队的目标必须跟组织的目标一致，此外还可以把大目标分成小目标具体分到各个团队成员身上，大 家合力实现这个共同的目标。</p>
        <p>户外培训的最后一个项目“冲出亚马逊”。在不触碰绳子的同时每个人还要在规定时间内穿过狭小的空间安全到达对面，在一次次的失败 一次次的重新来过后，所有同事的士气非但没被磨灭反而更加振奋，每个人都贡献出属于自己的那份力量，连身体柔弱的女生也不例外。 当最后一个人穿过去的时候每个人脸上洋溢着灿烂的微笑。其实看似艰难险阻的道路，没有走过怎么知道会闯不过去？不论是在户外拓展的活动中还是在现实工作中 我们应该拿出来这种精神，“坚持不懈，永不放弃”。</p>
        <p><strong>广告策划如何去“玩”</strong></p>
        <img src="http://www.feibaokeji.com/newsImg/6.jpg" alt="">
        <p>此次培训主要由飞报公司总裁黄华进行培训讲解，分析广告机会、确定广告目标 、形成广告内容。</p>
        <p>首先针对哪些消费者做广告以及在什么样的时机做广告等问题。为此就必须搜集并分析有关方面的情况 ，如消费者情况、竞争者情况、市场需求发展趋势、环境发展动态等，然后根据企业的营销目标和产品特点，找出广告的最佳切入时机，做好广告的群体定位，为开 展有效的广告促销活动奠定基础。</p>
        <p>其次确定广告目标，就是根据促销的总体目的，依据现实需要，明确广告宣传要解决的具体问题，以指导广告促销活动的时行。广告促销的具体目标，可以使消费者了解企业的新产品、促进购买增进销售或提高产品与企业的知名度以便形成品牌偏好群等。</p>
        <p>因飞报的媒体属性差异，照比以往的传统广告投放方式相对比，飞报更加具有绝对性优势。</p>
        <img src="http://www.feibaokeji.com/newsImg/7.jpg" alt="">
        <p>本次培训，让飞报的全体员工更深入的认识了团队精神，同时做到了高效的团队协作，并得到了满意的成果。一股股新鲜的力量，为飞报的未来奠定扎实的基础。</p>
    </div>
</div>
</body>
</html>