<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait">
    <meta http-equiv="Cache-Control" content="max-age=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>北京飞报云创科技有限公司</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="navbar-con container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="" href="/"><img class="log-img" src="../image/log.png" alt=""><img class="log-mobile" src="../image/log.png" alt=""></a><!--<span  class="log-mobile" ><img src="image/log-mobile.png" alt="">飞报 每天都只为您的收入着想</span>--></div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">主页</a></li>
                <li class="select"><a href="summary.html">关于我们</a></li>
                <li><a href="app.html">飞报App</a></li>
                <li><a class="cur" href="http://mp.feibaokeji.com" target="_blank">发布广告</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="feibao-text container">
    <p class="tit"><a href="/">首页</a>>><a href="../summary.html">关于我们</a>>><span>“飞报”钱景看好...</span></p>
    <div class="text-content">
        <h2>“飞报”钱景看好 发布会受热捧</h2>
        <img src="http://www.feibaokeji.com/upload/images/20141027_105925.jpg" alt="">
        <p style="text-align: center">嘉宾触摸水晶球“飞报”APP正式商用</p>
        <img src="http://www.feibaokeji.com/upload/images/20141027_110039.jpg" alt="">
        <p style="text-align: center">飞报云创科技公司董事长李新光致词</p>
        <img src="http://www.feibaokeji.com/upload/images/20141027_110131.jpg" alt="">
        <p style="text-align: center">飞报云创科技公司CEO黄华介绍产品功能</p>
        <p>飞报讯：国内首款基于地理定向精准投放广告的手机应用“飞报”APP,10月24日下午在北京新闻大厦举行正式上线的新闻会，“飞报”以其“看广告赚钱”颠覆性的商业理念和首创的精准广告投放技术赢得与会者青睐。</p>
        <img src="http://www.feibaokeji.com/upload/images/20141027_110309.jpg" alt="">
        <p style="text-align: center">北京市委宣传部副部长、北京文化创意产业促进中心主任梅松在发布会上讲话</p>
        <p>北京市委宣传部副部长、北京文化创意产业促进中心主任梅松，国家新闻出版总署信息中心卢大振处长，北京文化市场行政执法总队网络队队长沈睿以及联想集团，中石油海外投资集团，首都文创投资，以及，中国风险投资有限公司，大连顺为集团、香港政懿控股集团等负责人出席了新闻发布会。北京市委宣传部副部长、北京文化创意产业促进中心主任梅松作祝贺讲话，他说：“北京作为中国硅谷所在地和中国信息技术文化创新中心，我们在影视创意产业等方面卓有成效，面对如今的移动互联产业浪潮，北京将继续如何发挥其先导和龙头优势，并引领我国移动互联产业发展？显然，其根基在于培养大量充满朝气和活力的‘移动互联企业’，在于持续不断地推动技术创新和营销模式创新等。飞报云创科技有限公司的‘飞报’APP，在帮助商家自助精准投放广告的同时，也让手机用户在观看各种广告时赚钱，将广告费直接送达每位消费者手中，突破了传统广告的经营瓶颈，对于手机广告媒体运营商的运营模式和人们的移动互联生活，也许将是一次全新的、颠覆式的变革，将给北京文化创意产业特别是中国的广告业带来一股全新的力量，作为政府部门，接下来我们一定会为企业的发展提供更多的支持和帮助，助力飞报早日成为中国移动互联网界的旗舰。”</p>
        <img src="http://www.feibaokeji.com/upload/images/20141027_110357.jpg" alt="">
        <p style="text-align: center">宝驾租车公司总裁发言</p>
        <img src="http://www.feibaokeji.com/upload/images/20141027_110450.jpg" alt="">
        <p style="text-align: center">联想云集团副总经理洪东升发言</p>
        <img src="http://www.feibaokeji.com/upload/images/20141027_110542.jpg" alt="">
        <p style="text-align: center">北京慈云堂医院副院长发言</p>
        <p>宝驾租车，联想集团等代表也在会上讲了话，他们在讲话中一致认为：飞报首推的“定向、定点、定位，互动、互联、互利”完美解决了移动终端广告招来的商家和不想被广告打扰的终端用户间的矛盾，这对于中国的广告营销界来说是一个真正的福音，其首创的“让所有用户都有收入”的商业理念也开创了中国移动互联网的先河，大家表示，今后技术合作，市场营销等方面展开更紧密的合作。</p>
        <img src="http://www.feibaokeji.com/upload/images/20141027_110703.jpg" alt="">
        <p>新华社、人民日报社、新华网、人民网、北京电视台、新浪网、腾讯网、凤凰网、搜狐、网易、36氪等40多家知名主流媒体、自媒体出席报道了发布会。</p>
   </div>
</div>
</body>
</html>