<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait">
    <meta http-equiv="Cache-Control" content="max-age=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>北京飞报云创科技有限公司</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="navbar-con container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="" href="/"><img class="log-img" src="../image/log.png" alt=""><img class="log-mobile" src="../image/log.png" alt=""></a><!--<span  class="log-mobile" ><img src="image/log-mobile.png" alt="">飞报 每天都只为您的收入着想</span>--></div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">主页</a></li>
                <li class="select"><a href="summary.html">关于我们</a></li>
                <li><a href="app.html">飞报App</a></li>
                <li><a class="cur" href="http://mp.feibaokeji.com" target="_blank">发布广告</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="feibao-text container">
    <p class="tit"><a href="/">首页</a>>><a href="../summary.html">关于我们</a>>><span>“看广告赚钱”引众...</span></p>
    <div class="text-content">
        <h2>“看广告赚钱”引众多媒体关注 飞报总裁接受新华社专访</h2>
        <img src="http://www.feibaokeji.com/upload/images/20141024_094657.jpg" alt="">
        <p style="text-align: center">黄华先生对记者提出的问题都做出了积极的回答。</p>
        <img src="http://www.feibaokeji.com/upload/images/20141024_094901.jpg" alt="">
        <p style="text-align: center">飞报总裁黄华先生还接受了新华社的专访。</p>
        <img src="http://www.feibaokeji.com/upload/images/20141024_094928.jpg" alt="">
        <p style="text-align: center">总裁黄华和国内记者的合影。</p>
        <p>(飞报讯)2014年10月21日下午，新华社、人民日报社、人民网、中国经济时报等国内多家主流媒体新闻网站现身北京飞报云创科技有限公司，就该公司首推的国内首款基于地理定向精准投放广告的手机应用“飞报”APP进行专访。据悉，由北京飞报云创科技有限公司独家研发的这款手机广告应用平台，率先采用了定向、定点、定位、互动、互利、互联，让用户通过阅读广告获取广告费，即“看广告赚钱”的商业模式。今年10月初产品公开测试以来，就以其新颖的商业理念引起业界的关注，产品未正式商用就已有百余商家入驻投放广告，采访中众多媒体记者对飞报产品倡导的“让所有用户都有收入”的理念表示认同。最后，飞报总裁黄华先生还接受了新华社的专访。</p>
     </div>
</div>
</body>
</html>