<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait">
    <meta http-equiv="Cache-Control" content="max-age=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>北京飞报云创科技有限公司</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="navbar-con container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="" href="/"><img class="log-img" src="../image/log.png" alt=""><img class="log-mobile" src="../image/log.png" alt=""></a><!--<span  class="log-mobile" ><img src="image/log-mobile.png" alt="">飞报 每天都只为您的收入着想</span>--></div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">主页</a></li>
                <li class="select"><a href="summary.html">关于我们</a></li>
                <li><a href="app.html">飞报App</a></li>
                <li><a class="cur" href="http://mp.feibaokeji.com" target="_blank">发布广告</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="feibao-text container">
    <p class="tit"><a href="/">首页</a>>><a href="../summary.html">关于我们</a>>><span>中国首款地理定向...</span></p>
    <div class="text-content">
        <h2>中国首款地理定向精准投放广告的手机APP“飞报”今天下午在北京上线</h2>
        <img src="http://www.feibaokeji.com/upload/images/20141027_113419.jpg" alt=""><img src="http://www.feibaokeji.com/upload/images/20141027_113442.jpg" alt=""><img src="http://www.feibaokeji.com/upload/images/20141027_113509.jpg" alt="">
       <p> 移动互联网将如何改变您的“移动生活”？又将如何改变 “移动消费”的营销理念？</p>

        <p>“看广告赚钱”！</p>

        <p> 由北京飞报云创科技有限公司开发的“飞报”手机APP，在帮助商家自助精准投放广告的同时，也让手机用户在观看各种广告时赚钱，将广告费直接送达每位消费者手中，突破了传统广告的经营瓶颈。</p>

        <p>“没人喜欢看广告，无论是PC端还是移动端，除非有奖赏”，世界知名杂志《福布斯》这一调查报告的结论，让广告营销界尴尬不已。长期以来，商家广告营销人员在如何吸引消费者方面面临巨大挑战，特别是在推动消费者与商家互动层面一直难以突破：一方面是商家通过削尖脑袋投放广告来影响客户，另一方面是广大消费者不胜其烦、视广告而不见。</p>

        <p>“是时候改变这种局面了！“上‘飞报’就有奖赏，今后的广告不再难做！” 飞报创始人、北京飞报云创科技有限公司总裁黄华如此表示。</p>

        <h3> 一是让消费者爱上广告。</h3>

        <p>“看广告赚钱”是让消费者喜欢上广告的一个杀手锏，飞报创始人黄华在介绍产品时说，“没有什么办法比让消费者通过看广告获取广告费更能让人开心了。”记者在尝试手机下载该款APP应用体验时发现，用户在下载飞报软件后，不用进行手机号码和账号的确认（与国内手机应用普遍强制用户进行手机号码注册完全不同），即可阅读广告，分享信息，并通过揭广告方式获取商家提供的广告费积分；也可同时点开积分看看自己“赚了多少钱”，确实十分愉悦新颖。目前，商家在飞报端投放的每份广告成本确实非常“低廉”，为每份5分钱人民币，而且消费者只有一次阅读获取广告费的机会，如果按照这个成本计算，商家只需投入1万元广告费，即可清晰知道有20万人看到自己的广告，这样的广告投放成本，确实十分诱人。</p>

        <h3> 二是地理定向投放让广告更精准。</h3>

        <p> 飞报APP在国内率先开发使用地理坐标定位广告的发布模式，推出了定位、定向、定点，互动、互联、互利等“三定三互”技术，将成为一款中国人原创、国际上首创的手机广告新模式。广告商家可根据目标客户群体所在的目标位置定向投放广告，将其广告信息设定在一定范围内，这就意味着，这些广告信息最终只会出现在这一特殊范围内的消费者的移动手机上。如一家餐饮店，就可以围绕该店周围3公里半径实施广告投放，避免广告费的浪费。据悉，这样的广告投放技术在国际上还未有先例，就连世界互联网巨头Facebook也刚刚于近期公告称，其将于今后几周推出世界首款“地理定向”广告发布模式，并将该模式提高到“改变未来”的战略高度来实施。</p>

        <h3> 三是媒体高粘度性。</h3>

        <p>“飞报是一家媒体，而不是电商！”黄华强调，飞报虽然附加了诸如手机10秒钟建店等功能，但绝对不是一款基于O2O的电子商务平台，那不是飞报要做的，我们努力要做的就是“怎么样让消费者与商家愉悦地连在一起，飞报未来目标就是要做中国最优秀的移动广告社交媒体，愉悦生活首先从广告开始。”</p>

        <p> 采访中记者发现，也许是基于媒体平台的定位，飞报在APP的页面功能UI设计上有自己的独创性，除“看广告赚钱”的海报功能外，还开发了“心灵鸡汤”式的“头条”和基于地理位置自媒体的“发现”功能，媒体特色非常突出。在飞报正式商用推广前，就已经引起业内高度关注，比如神州租车、莲花超市等北京市、广西来宾市的数十家客户、单位都已在飞报端抢先登陆投放宣传广告。</p>

        <p> 目前，飞报安卓手机客户端已经在百度、360等13家商店上线，iphone版不久也会登陆。飞报APP 的“看广告赚钱”会给中国移动互联网带来一场革命吗？记者不得而知，但它所倡导的“让所有的用户都有收入”这一理念是未来发展的大趋势。</p>
    </div>
</div>
</body>
</html>