<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="css/global.css?timeStamp=2" rel="stylesheet" />
    <script src="js/hammer.min.js?timeStamp=1"></script>
    <script src="js/jquery.min.js?timeStamp=1"></script>
    <script src="js/utils.js?timeStamp=9"></script>
    <script src="js/services.js?timeStamp=2"></script>
</head>
<body class="adDetails" style="background:#F5F5F7;">
    <img data-bind="image" class="bigImg" />
    <div class="layoutBox">
        <div class="listH1_Left"><i style="background:#F4694C;"></i><h2>联系方式</h2></div>
        <div data-tap="%this%tel?{%telphone%}" class="listImgButton">
            <img class="i" style="width:.32rem;height:.32rem;" src="images/icons/phone.png" /><p data-bind="telphone">400-6542564</p><img class="right" src="images/icons/arrowright.png" />
        </div>
        <div data-tap="%this%url?{%netAddress%}" class="listImgButton">
            <img class="i" style="width:.4rem;height:.26rem;top:.24rem;left:.23rem;" src="images/icons/link.png" /><p data-bind="netAddress">http://jsfiddle.net/claudeprecourt/5kgtexy3/1/</p><img class="right" src="images/icons/arrowright.png" />
        </div>
        <div class="listImgButton">
            <img class="i" style="width:.26rem;height:.36rem;top:.22rem;left:.26rem;" src="images/icons/address.png" /><p data-bind="address">http://jsfiddle.net/claudeprecourt/5kgtexy3/1/</p>
        </div>
    </div>

    <div class="layoutBox">
        <div class="listH1_Left noBorder"><i style="background:#00c9ff;"></i><h2>店铺详情</h2></div>
        <div data-bind="content" class="listBody">
            <!--<img src="images/u3946.jpg" />
            <p>
                同样的单品穿在不同人身上、搭配不一样的单品，总会带来不同时尚FEEL。高领毛衣，冬日里最为常见的时尚单品，也是衣橱里、街头上出镜率最高的百搭神器。瑟瑟冷风中还在寻求那股暖流？让高领毛衣为你保暖同时也增添更多自信，情绪高昂的去享受女性的神奇魅力吧。
            </p>-->
        </div>
        <div class="listDataFooter">
            <div class="placeholder"></div><span data-bind="addTime">15.11.13 10:22</span> 
        </div>
    </div>


    <script type="text/javascript">
        window.onresize = function () {
            document.querySelector("html").setAttribute("style", "font-size:" + document.body.clientWidth / 6.4 + "px");
        };
        document.querySelector("html").setAttribute("style", "font-size:" + document.body.clientWidth / 6.4 + "px");
    </script>
    <script type="text/javascript">
        var ViewModel = services.getShopInfo(getQueryString("friendId"));
        ViewModel.content = decodeURIComponent(escape(window.atob(ViewModel.content)));
        if (ViewModel.telphone == "") {
            $("[data-bind='telphone']").parent().hide();
        }
        if (ViewModel.address == "") {
            $("[data-bind='address']").parent().hide();
        }
        if (ViewModel.netAddress == "") {
            $("[data-bind='netAddress']").parent().hide();
        }
    </script>
</body>
</html>
