<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="css/global.css?timeStamp=1" rel="stylesheet" />
</head>
<body>
    <img class="bigImg" src="images/u3946.jpg" />
    <div class="listUserImage">
        <img class="bigImg" src="images/u3946.jpg" />
        <img data-tap="userimage" class="miniImg" src="images/u3950.png" />
    </div>
    <h1 class="listH1">广告标题在此处，字数UI设定</h1>
    <div class="listH1_Left"><i style="background:#F4694C;"></i><h2>小编推荐内容标题</h2></div>
    <div class="listH1_Left"><i style="background:#00c9ff;"></i><h2>内容介绍</h2></div>
    <div class="listH1_Left noBorder"><i style="background:#00c9ff;"></i><h2>内容介绍</h2></div>
    <div class="listDataFooter">
        <div class="placeholder"></div>15.11.13 10:22
    </div>
    <div class="listButton">
        <div class="left">提现支付宝账号:</div>
        <div class="placeholder"></div>
        <div class="right">
            <span>绑定</span><img class="right" src="images/icons/arrowright.png" />
        </div>
    </div>
    <div class="listButton">
        <div class="left">提现支付宝账号:</div>
        <div class="placeholder"></div>
        <div class="right">
            <span>绑定</span><img class="right" src="images/icons/arrowright.png" />
        </div>
    </div>
    <div style="background:#808080">
        <div class="listH1_Left"><i style="background:#F4694C;"></i><h2>联系方式</h2></div>
        <div class="layoutBox">
            <div class="listImgButton">
                <img class="i" style="width:.32rem;height:.32rem;" src="images/icons/phone.png" /><p>400-6542564</p><img class="right" src="images/icons/arrowright.png" />
            </div>
            <div class="listImgButton">
                <img class="i" style="width:.4rem;height:.26rem;top:.24rem;left:.23rem;" src="images/icons/link.png" /><p>http://jsfiddle.net/claudeprecourt/5kgtexy3/1/</p><img class="right" src="images/icons/arrowright.png" />
            </div>
            <div class="listImgButton">
                <img class="i" style="width:.26rem;height:.36rem;top:.22rem;left:.26rem;" src="images/icons/address.png" /><p>http://jsfiddle.net/claudeprecourt/5kgtexy3/1/</p><img class="right" src="images/icons/arrowright.png" />
            </div>
        </div>
    </div>   
    <div class="listTextBody">
        每日至多提现一次，每天17:00左右提现打款，提现奖金24小时内到账。17:00后提交的申请自动排到次日。
    </div>
    <div class="layoutBox">
        <div class="listH1_Left noBorder"><i style="background:#00c9ff;"></i><h2>店铺详情</h2></div>
        <div class="listBody">
            <img src="images/u3946.jpg" />
            <p>
                同样的单品穿在不同人身上、搭配不一样的单品，总会带来不同时尚FEEL。高领毛衣，冬日里最为常见的时尚单品，也是衣橱里、街头上出镜率最高的百搭神器。瑟瑟冷风中还在寻求那股暖流？让高领毛衣为你保暖同时也增添更多自信，情绪高昂的去享受女性的神奇魅力吧。
            </p>
        </div>
        <div class="listDataFooter">
            <div class="placeholder"></div>15.11.13 10:22
        </div>
    </div>

    <div class="layoutBox">
        <div data-tap="product" class="listAdAbstract">
            <header style="background-image:url(images/u3946.jpg)">
                <div>
                    <i></i>
                    <span>今天 10:22</span>
                </div>
                <h2>广告标题在此处，字数UI设定广告标题在此处，字数UI设定</h2>
                <img src="images/icons/jczz.png" />
            </header>
            <footer>
                <span class="left"><img src="images/icons/sp_1.png" /><p>商品</p></span>
                <div class="placeholder"></div>
                <span><span>单价:</span><span class="price">137.0元</span></span>
            </footer>
        </div>
        <div data-tap="service" class="listAdAbstract">
            <header style="background-image:url(images/u3946.jpg)">
                <div>
                    <i></i>
                    <span>今天 10:22</span>
                </div>
                <h2>广告标题在此处，字数UI设定广告标题在此处，字数定</h2>
                <img src="images/icons/jczz.png" />
            </header>
            <footer>
                <span class="left"><img src="images/icons/fw_1.png" /><p>服务</p></span>
                <div class="placeholder"></div>
                <span><span>单价:</span><span class="price">137.0元</span></span>
            </footer>
        </div>
        <div data-tap="discount" class="listAdAbstract">
            <header style="background-image:url(images/u3946.jpg)">
                <div>
                    <i></i>
                    <span>今天 10:22</span>
                </div>
                <h2>广告标题在此处，字数UI设定广告标题在此处，字数UI</h2>
                <img src="images/icons/jczz.png" />
            </header>
            <footer>
                <span class="left"><img src="images/icons/yhdjq_1.png" /><p>优惠代金券</p></span>
                <div class="placeholder"></div>
                <span><span>单价:</span><span class="price">137.0元</span></span>
            </footer>
        </div>

        <div data-tap="discount" class="listAdAbstract noBack">
            <header>
                <div>
                    <i></i>
                    <span>今天 10:22</span>
                </div>
                <h2>广告标题在此处，字数UI设定广告标题在此处，字数UI</h2>
                <img src="images/icons/jczz.png" />
            </header>
            <footer>
                <span class="left"><img src="images/icons/yhdjq_1.png" /><p>优惠代金券</p></span>
                <div class="placeholder"></div>
                <span><span>单价:</span><span class="price">137.0元</span></span>
            </footer>
        </div>
        </div>

    <div class="listInputDisplay">
        <label>收款人姓名:</label>
        <span>兔斯基</span>
    </div>
    <div class="listInputText">
        <label>收款人姓名:</label>
        <input placeholder="请输入收款人姓名" />
    </div>
    <div class="listRadio">
        <label>30元</label>
        <div class="placeholder"></div>
        <i></i>
    </div>

    <div class="listSubmit" id="submit">
        确认绑定
    </div>
        <script type="text/javascript">
            window.onresize = function () {
                document.querySelector("html").setAttribute("style", "font-size:" + document.body.clientWidth / 6.4 + "px");
            };
            document.querySelector("html").setAttribute("style", "font-size:" + document.body.clientWidth / 6.4 + "px");
        </script>
</body>
</html>
