<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="css/global.css" rel="stylesheet" />
</head>
<body class="adDetails">
    <header>
        <div class="top">
            <img class="bigImg" src="images/u3946.jpg" />
            <img data-tap="userimage" class="miniImg" src="images/u3950.png" />
        </div>
        <h1>广告标题在此处，字数UI设定</h1>
        <span class="tag">标签内容 / 标签内容 / 标签内容 / 标签内容</span>
        <div class="footer">
            <span class="left">
                <span><img style="width:.28rem;height:.28rem;" src="images/icons/留言.png" /> 14,325</span>
                <span><img style="width:.3rem;height:.26rem;" src="images/icons/红心.png" />14,325</span>
                <span><img style="width:.3rem;height:.3rem;" src="images/icons/收藏.png" />14,325</span>
            </span>
            <div class="placeholder"></div>
            <span class="right">
                <img style="height:80%;" src="images/icons/fgx.png" />
                <span data-tap="share">
                    <img style="width:.88rem;height:.88rem;display:block;" src="images/icons/分享转发（默认）.png"/>
                    <span>分享</span>
                </span>
            </span>
        </div>
    </header>
    <div class="list">
        <div data-tap="product" class="listAdAbstract">
            <header style="background-image:url(images/u3946.jpg)">
                <div>
                    <i></i>
                    <span>今天 10:22</span>
                </div>
                <h2>广告标题在此处，字数UI设定广告标题在此处，字数UI设定</h2>
                <img src="images/icons/jczz.png" />
            </header>
            <footer>
                <span class="left"><img src="images/icons/sp_1.png" /><p>商品</p></span>
                <div class="placeholder"></div>
                <span><span>单价:</span><span class="price">137.0元</span></span>
            </footer>
        </div>
        <div data-tap="service" class="listAdAbstract">
            <header style="background-image:url(images/u3946.jpg)">
                <div>
                    <i></i>
                    <span>今天 10:22</span>
                </div>
                <h2>广告标题在此处，字数UI设定广告标题在此处，字数定</h2>
                <img src="images/icons/jczz.png" />
            </header>
            <footer>
                <span class="left"><img src="images/icons/fw_1.png" /><p>服务</p></span>
                <div class="placeholder"></div>
                <span><span>单价:</span><span class="price">137.0元</span></span>
            </footer>
        </div>
        <div data-tap="discount" class="listAdAbstract">
            <header style="background-image:url(images/u3946.jpg)">
                <div>
                    <i></i>
                    <span>今天 10:22</span>
                </div>
                <h2>广告标题在此处，字数UI设定广告标题在此处，字数UI</h2>
                <img src="images/icons/jczz.png" />
            </header>
            <footer>
                <span class="left"><img src="images/icons/yhdjq_1.png" /><p>优惠代金券</p></span>
                <div class="placeholder"></div>
                <span><span>单价:</span><span class="price">137.0元</span></span>
            </footer>
        </div>
        <div class="contact">
            <div class="listH1_Left"><i style="background:#F4694C;"></i><h2>联系方式</h2></div>
            <div data-tap="phone?12345678990" class="item">
                <img class="i" style="width:.32rem;height:.32rem;" src="images/icons/phone.png"/><p>400-6542564</p><img class="right" src="images/icons/arrowright.png" />
            </div>
            <div data-tap="url?http://www.feibaokeji.com/search?q=123131122" class="item">
                <img class="i" style="width:.4rem;height:.26rem;top:.24rem;left:.23rem;" src="images/icons/link.png" /><p>http://jsfiddle.net/claudeprecourt/5kgtexy3/1/</p><img class="right" src="images/icons/arrowright.png" />
            </div>
            <div class="item">
                <img class="i" style="width:.26rem;height:.36rem;top:.22rem;left:.26rem;" src="images/icons/address.png" /><p>http://jsfiddle.net/claudeprecourt/5kgtexy3/1/</p><img class="right" src="images/icons/arrowright.png" />
            </div>
        </div>

        <div class="content">
            <div class="listH1_Left noBorder"><i style="background:#00c9ff;"></i><h2>内容介绍</h2></div>
            <div class="body">
                <img src="images/u3946.jpg" />
                <p>
                    同样的单品穿在不同人身上、搭配不一样的单品，总会带来不同时尚FEEL。高领毛衣，冬日里最为常见的时尚单品，也是衣橱里、街头上出镜率最高的百搭神器。瑟瑟冷风中还在寻求那股暖流？让高领毛衣为你保暖同时也增添更多自信，情绪高昂的去享受女性的神奇魅力吧。
                </p>
            </div>
            <footer>
                <div class="placeholder"></div>
                15.11.13 10:22
            </footer>
        </div>
        <div class="praise">
            <div class="placeholder"></div>
            <img data-tap="popup?title=aaaaa&content=喜欢" src="images/icons/xh_1.png"/>
            <div class="placeholder"></div>
            <img data-tap="popup?title=aaaaa&content=无感" src="images/icons/wg_1.png" />
            <div class="placeholder"></div>
        </div>
    </div>
    
    
    
    <div class="redPacket">
        <img class="redPacketImg" src="images/icons/redpacket.png" />
        <span>
            <h3>红包寄语XXXXX</h3>
            <p>请，可以阅读至广告底部，领取红包哦！</p>            
        </span>
        <img data-tap="comment" class="ly"  src="images/icons/ly_1.png" />
    </div>
    <script type="text/javascript">
        window.onresize = function () {
            document.querySelector("html").setAttribute("style", "font-size:" + document.body.clientWidth / 6.4 + "px");
        };
        document.querySelector("html").setAttribute("style", "font-size:" + document.body.clientWidth / 6.4 + "px");

    </script>

    <script src="js/hammer.min.js"></script>
    <script type="text/javascript">
        var taps = document.querySelectorAll("[data-tap]");
        for (var i = 0; i < taps.length; i++) {
            var elThis = taps[i];
            new Hammer(elThis).on("tap", function () {
                window.location = this.getAttribute("data-tap");
            }.bind(elThis));
        }
        //new Hammer(document.getElementById("userimage")).on("tap", function () {
        //    window.location = "/userimage?id=22";
        //    //document.querySelector(".promptbox").style.display = "block";
        //    //setTimeout(function () {
        //    //    document.querySelector(".promptbox").style.display = "none";
        //    //    //document.body.style.overflow = "";
        //    //}, 3000);
        //});
    </script>
</body>
</html>
