<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="css/global.css" rel="stylesheet" />
</head>
<body>
    <div class="layoutMobileBody myWallet">
        <header>
            <h1>45.50<span>元</span></h1>
            <h3>2,345,233 飞币</h3>
            <i data-tap="walletrules">?</i>
        </header>
        <div class="listButton">
            <div class="left">提现支付宝账号:</div>
            <div class="right">
                <span>绑定</span><img class="right" src="images/icons/arrowright.png" />
            </div>
        </div>
        <div class="listTextBody">
            每日至多提现一次，每天17:00左右提现打款，提现奖金24小时内到账。17:00后提交的申请自动排到次日。
        </div>
        <div data-tap="applycash" class="listButton mt20">
            <div class="left">申请提现:</div>
            <div class="right">
                <span></span><img class="right" src="images/icons/arrowright.png" />
            </div>
        </div>
        <div data-tap="redeem" class="listButton">
            <div class="left">飞币兑换:</div>
            <div class="right">
                <span></span><img class="right" src="images/icons/arrowright.png" />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        window.onresize = function () {
            document.querySelector("html").setAttribute("style", "font-size:" + document.body.clientWidth / 6.4 + "px");
        };
        document.querySelector("html").setAttribute("style", "font-size:" + document.body.clientWidth / 6.4 + "px");
    </script>
    <script src="js/hammer.min.js"></script>
    <script type="text/javascript">
        var taps = document.querySelectorAll("[data-tap]");
        for (var i = 0; i < taps.length; i++) {
            var elThis = taps[i];
            new Hammer(elThis).on("tap", function () {
                window.location = this.getAttribute("data-tap");
            }.bind(elThis));
        }
    </script>
</body>
</html>
