<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>飞币兑换规则</title>
</head>
<style type="text/css">
	*{
		margin:0;
		padding:0;
		font-size:100%;
	}
	.rule{
		margin:25px 10px;
		padding:0;
	}
	.rule h1{
		font-size:14px; 
		line-height:33px;
		font-weight:100;
		color:#4a4b4d;
	}
	.rule p{
		line-height:1.5em;
		font-size:13px;
		color:#4a4b4d;
		text-align:justify;
	}
</style>
<body>
<section class="rule">

<p>
　　您可以通过点击红包赚飞币、邀请好友赚飞币、分享赚飞币、转发赚飞币的方式获取飞币。飞币可以进行话费兑换，兑换面值分别为1元、10元、30元、50元。<br>
　　兑换相应面值的话费所需飞币比例如下：<br>
　　1元面值话费需要2000飞币<br>
　　10元面值话费需要15000飞币（可节省5000飞币）<br>
　　30元面值话费需要40000飞币（可节省20000飞币）<br>
　　50元面值话费需要65000飞币（可节省35000飞币）<br>
　　每成功推荐一名用户可获得1250飞币。每位被推荐来的用户可获得1250飞币。<br>
　　免责声明：请仔细核对充值手机号，飞币一经兑换无法退还，飞报概不负责。<br>
　　每日10：00更新开兑截止到当日17：00，请合理安排兑换时间。<br>
　　每位用户每日最多可成功兑得1次，如果未能兑换成功，请把握下次兑换机会。<br>
</p>
</section>
</body>
</html>
